* {
	font-family: "Courier New", Courier, monospace;
}
body {
	background: url(../images/aceofnet-EKK-08sYimw-unsplash.jpg);
	background-size: cover;
}
#judul {
	font-size: 30px;
}
#kotak {
	background-color: rgb(23, 164, 166);
}
#km {
	font-size: 20px;
}
